version: '3'
services:
  db:
    container_name: tournament-db
    image: postgres:14-bullseye
    environment:
      POSTGRES_USER: postgres
      POSTGRES_DB: tournament_db
      POSTGRES_PASSWORD: 123456
      PGPASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      # - ./project-dump/:/var/www/html
      - ./pgdb:/var/lib/postgresql/data
  redis:
    container_name: tournament-redis
    image: redis:7.2
    ports:
      - "6379:6379"
    restart: always
    volumes:
      - ./redis-data:/data
  djangoapp:
    container_name: tournament-api
    build: 
      context: .
    command: >
      sh -c " 
              pip install --no-cache-dir -r requirements.txt &&
              python3 manage.py makemigrations &&
              python3 manage.py migrate &&
              python3 manage.py runserver 0.0.0.0:3000"
    volumes:
      - .:/code # for development only
    ports:
      - "3000:3000"
    depends_on:
      - db
      - redis
    stdin_open: true
    tty: true
  rabbitmq:
    container_name: tournament-rabbitmq
    image: rabbitmq:3.13-management
    ports:
      - "5672:5672"    # AMQP
      - "15672:15672"  # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq
    restart: always

  celery_worker:
    container_name: tournament-celery-worker
    build:
      context: .
    command: celery -A tournament_api worker -l info
    volumes:
      - .:/code
    depends_on:
      - djangoapp
      - rabbitmq
      - redis
    restart: always

  celery_beat:
    container_name: tournament-celery-beat
    build:
      context: .
    command: celery -A tournament_api beat -l info
    volumes:
      - .:/code
    depends_on:
      - djangoapp
      - rabbitmq
      - redis
    restart: always

  flower:
    container_name: tournament-flower
    image: mher/flower
    command: >
      celery
      --broker=amqp://admin:admin@rabbitmq:5672//
      flower
      --port=5555
    ports:
      - "5555:5555"
    depends_on:
      - rabbitmq
    restart: always
  # nginxservice:
  #   container_name: tournament-nginx
  #   image: nginx:1.25.3-alpine-perl
  #   # volumes:  
  #     # reads template files in /etc/nginx/templates/*.template and outputs the result of executing envsubst to /etc/nginx/conf.d
  #     # - ./nginx/templates:/etc/nginx/templates
  #   environment:
  #     - NGINX_HOST=foobar.com
  #     - NGINX_PORT=80
  #   ports:
  #     - 80:80
  #     - 443:443

volumes:
  rabbitmq-data: